#intro{
	background-image:url('images/misc/zero-v1.1-lg.jpg')!important;//background
}

#blurred-effect{
	background-color:rgba(0,0,0,0.7);
}

#skills{
	background-image:url('images/misc/abstract-shining-sm.jpg')!important;//background
}

#portfolio{
	background-image:url('misc/nyc-v1-sm.jpg')!important;//background
}

#education{
	background-image:url('misc/coffee-paleyellow-sm.jpg')!important;
}

#work{
	background-image:url('misc/snow-sm.jpg')!important;//background
}

#contact{
	background-image:url('misc/nyc-v2-sm.jpg')!important;//background
}

.color-block{ 
   background:transparent;
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50990000,endColorstr=#50990000); 
   zoom: 1;
} 