#intro{
	background-image:url('../../images/misc/zero-v1.1-lg.jpg')!important;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../imagesmisc/zero-v1.1-sm.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../imagesmisc/zero-v1.1-sm.jpg', sizingMethod='scale')";
	background-color:transparent;
	display:block;
}

#blurred-effect{
	background-color:rgba(0,0,0,0.7);
	background-color:transparent;

}

#skills{
	background-image:url('../../imagesimages/misc/abstract-shining-lg.jpg')!important;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../imagesmisc/abstract-shining-lg.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../imagesmisc/abstract-shining-lg.jpg', sizingMethod='scale')";
	background-color:transparent;
	display:block;
}

#portfolio{
	background-image:url('../../imagesmisc/nyc-v1-lg.jpg')!important;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../imagesmisc/nyc-v1-lg.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../imagesmisc/nyc-v1-lg.jpg', sizingMethod='scale')";
	background-color:transparent;
	display:block;
}

#education{
	background-image:url('../../imagesmisc/coffee-paleyellow-lg.jpg')!important;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../imagesmisc/coffee-paleyellow-lg.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../imagesmisc/coffee-paleyellow-lg.jpg', sizingMethod='scale')";
	background-color:transparent;
	display:block;
}

#work{
	background-image:url('../../imagesmisc/snow-lg.jpg')!important;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../imagesmisc/snow-lg.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../imagesmisc/snow-lg.jpg', sizingMethod='scale')";
	background-color:transparent;
	display:block;
}

#contact{
	background-image:url('../../imagesmisc/nyc-v2-lg.jpg')!important;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../imagesmisc/nyc-v2-lg.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../imagesmisc/nyc-v2-lg.jpg', sizingMethod='scale')";
	background-color:transparent;
	display:block;
}

.color-block{ 
   background:transparent;
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50990000,endColorstr=#50990000); 
   zoom: 1;
} 