//------------back to top-------------//
#back-to-top{
	
	@include border-radius(50px);
	@include opacity(0.5);
	width:50px;
	height:50px;
	background-color:lighten($theme-gray,10);
	position:fixed;
	bottom:15px;
	right:15px;
	z-index:100;
	display:none;
	
	i{
		width:20px;
		height:20px;
		color:$lightgray;
		position:absolute;
		top:0;right:0;bottom:0;left:0;
		margin:auto;
	}


	&:hover{
		background-color:white;
		@include opacity(1);
		i{
			color:$cyan;
		}
	}
}




@include at-breakpoint($large){

	#skills .hidden-description{
		
		@include border-radius(1000px);
		z-index:101;
		position:fixed;
		top:0;bottom:0;right:0;left:-3000px;
		margin:auto;
		width: 30em;
		height: 30em;
		background-color:$darkerblue;
		border-bottom: 5px solid $orange;
		border-top: 5px solid $cyan;
		border-right: 5px solid $blue;
		border-left: 5px solid $yellow;
		padding:5.5em;
		cursor: default;

		

		p{
			position:relative;
			.sub-title,.box-header{
				background-color:initial!important;
				font-size:1em;
				display:block;
			}

			.box-header{
				position:absolute;
				top:5em;
				text-align: center;
				color:white!important;
				font-size:1.25em;
			}

			.block-attr{
				float:left;
				color:white;
				font-size:1.2em;
				background-color:$cyan!important;

				&:hover{
					color:$red!important;
				}
			}

		}

	}//hidden description
}//large size layout

